<h2>PROMOCIONES</h2>

<div class="productsCardsTotal">

  @for (item of promos; track $index) {

    @if (item.precio<180000) {

    <div class="productsCards">
        <div class="product-card">
          <a [routerLink]="['/descripcion', item._id]">
            <div class="promo-badge">¡Promo!</div>
            <img src="{{ item.img }}" alt="Imagen del producto" class="product-img" />
            <div class="product-details">
              <h3>{{ item.marca }}</h3>
              <p><strong>Modelo:</strong> {{ item.modelo }}</p>
              <p><strong>Descripción:</strong> {{ item.descripcion }}</p>
              <p><strong>Precio:</strong> ${{ item.precio }}</p>
              <p><strong>Género:</strong> {{ item.genero }}</p>
            </div>
          </a>
        </div>
      </div>

    }

  }

  <div class="promocionesCard">
      <img src="promo1.jpg" alt="" width="500px" height="800px">

    <div class="descuentosCard" >
      <img src="promo2.jpg" alt="" width="500px" height="400px">
      <img src="promo3.jpg" alt="" width="500px" height="400px">
    </div>

  </div>
