/* Contenedor de las tarjetas */
.productsCardsTotal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;

}


/* Estilo para cada tarjeta */
.product-card {
  background-color: #fff;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 280px; /* Tamaño máximo de las tarjetas */
  width: 100%;
}

/* Imagen del producto */
.product-img {
  width: 100%;
  height: 100%; /* Ajustable según tus necesidades */
  object-fit: cover; /* Para mantener la imagen proporcional */
}

/* Detalles del producto */
.product-details {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.product-details h3 {
  font-size: 20px;
  margin-bottom: 10px;

  color: #1D3557;
}

.product-details p {
  margin: 5px 0;
  color: #555;
}

.product-details strong {
  font-weight: bold;
}

/* Efecto hover */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}
a{
text-decoration: none;}

.filtro h3{
}

.filtro{
  display: flex;

  margin-top: 100px;
  flex-direction: column;
}
